mat-expansion-panel {
  background-color: #eee;
}

mat-accordion {
  width: 100vw;
}

.matrix-input {
  width: 45%;
}

mat-table {
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 599.99px) {
  .matrix-input {
    width: 100%;
  }
}
