// .mat-header-cell {
//     flex-direction: column;
//     justify-content: center;
//   }

//   .mat-cell {
//     text-align: center;
//     justify-content:center;
//   }

mat-expansion-panel {
  background-color: #eee;
}

.matrix-input {
  width: 45vw;
}

mat-table {
  width: 100%;
}
