table,
th,
td {
  width: 100%;
}

mat-form-field {
  width: 95%;
}

ext-inputs-select {
  padding-right: 5vw;
}

th,
td {
  border: none !important;
}

input:focus {
  outline: none;
}

.error {
  border-bottom: 3px dotted red;
}
