$avatar-height: 10vw;

.avatar-container {
  padding: 2vh 0 2vh 0;
  height: $avatar-height;
  
}

.avatar {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;;
}

// .avatar:hover {
//   background-blend-mode: multiply;
//   background-color: rgba(0, 0, 0, 0.4);
// }

.bottom-right {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}

.form-wrapper {
  margin: 2vh 2vw 2vh 2vw;
}

.image-container {
  max-width: 90vw;
}
